<p id="notice"><%= notice %></p>

<h1>Repices</h1>

<table>
  <thead>
    <tr>
      <th>Repiceingredient</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repices.each do |repice| %>
      <tr>
        <td><%= repice.Repiceingredient_id %></td>
        <td><%= repice.price %></td>
        <td><%= link_to 'Show', repice %></td>
        <td><%= link_to 'Edit', edit_repice_path(repice) %></td>
        <td><%= link_to 'Destroy', repice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repice', new_repice_path %>
